.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10%;
  padding-left: 10%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  font-weight: 400;
}

.body {
  background-color: #fff;
  font-family: Jost, sans-serif;
}

.section {
  height: auto;
  max-height: 700px;
  padding-top: 0px;
  padding-right: 0%;
  padding-left: 0%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/Bathroom-Renovations-Brisbane.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/Bathroom-Renovations-Brisbane.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, auto;
}

.section.home {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.61)), to(rgba(0, 0, 0, 0.61))), url('../images/envisage-bg.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.61), rgba(0, 0, 0, 0.61)), url('../images/envisage-bg.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.heading {
  width: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Playfair Display', sans-serif;
  color: #fff;
  font-size: 60px;
  line-height: 60px;
  font-weight: 600;
}

.heading.page-heading {
  font-size: 40px;
  line-height: 40px;
}

.text-block {
  width: 70%;
  margin-top: 20px;
  margin-bottom: 40px;
  color: #fff;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 35px;
  padding-right: 10%;
  padding-left: 10%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #005593;
  color: #fff;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  margin-top: 20px;
  margin-right: 20px;
  padding: 20px 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 2px none #e31e30;
  background-color: #e31e30;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#21c1d9), to(#2ee8c3));
  background-image: linear-gradient(180deg, #21c1d9, #2ee8c3);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

.button._2 {
  margin-right: 0px;
  border-style: solid;
  border-color: #fff;
  background-color: transparent;
  background-image: none;
}

.button._2:hover {
  background-color: #fff;
  color: #333;
}

.button.black-2 {
  margin-right: 0px;
  border-style: solid;
  border-color: #1b1b1b;
  background-color: transparent;
  background-image: none;
  color: #1b1b1b;
}

.button.top-banner {
  margin-top: 0px;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  border-bottom: 1px none rgba(0, 0, 0, 0.24);
}

.nav-menu {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #fff;
}

.text-block-2 {
  color: #bebebe;
  font-size: 12px;
  line-height: 12px;
  font-weight: 300;
}

.text-block-3 {
  line-height: 14px;
  font-weight: 400;
}

.image {
  width: 200px;
  height: auto;
  margin-bottom: -42px;
  border-radius: 999px;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding: 20px 10% 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-4.home {
  height: 80vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.div-block-4.pages {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.section-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding: 140px 10% 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-2 {
  margin-top: 0px;
  font-family: 'Playfair Display', sans-serif;
  color: #1b1b1b;
  font-size: 38px;
  font-weight: 600;
  text-align: left;
}

.heading-2.why-choose-us {
  width: 600px;
  font-family: 'Playfair Display', sans-serif;
  line-height: 45px;
  font-weight: 500;
  text-align: center;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1150px;
}

.div-block-5._2 {
  margin-top: 142px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding-right: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.div-block-6._2 {
  padding-right: 0px;
  padding-left: 40px;
}

.div-block-7 {
  width: 50%;
  padding-right: 40px;
}

.div-block-7._2 {
  padding-right: 0px;
  padding-left: 40px;
}

.paragraph {
  margin-top: 20px;
  color: #888787;
  font-size: 16px;
  line-height: 28px;
}

.paragraph.margin-bottom {
  margin-bottom: 40px;
}

.div-block-8 {
  height: 4px;
  background-color: #1b1b1b;
}

.text-block-4 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #27d2cf;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.div-block-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 350px;
  margin-top: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.image-2 {
  width: 70%;
}

.services-item {
  width: 25%;
  height: 100%;
  margin-right: 10px;
}

.link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  margin-right: 10px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(27, 27, 27, 0.56)), to(transparent)), url('../images/frameless-shower-screens-brisbane.jpg');
  background-image: linear-gradient(0deg, rgba(27, 27, 27, 0.56), transparent), url('../images/frameless-shower-screens-brisbane.jpg');
  background-position: 0px 0px, 100% 50%;
  background-size: auto, cover;
  color: #fff;
  font-weight: 300;
  text-decoration: none;
}

.heading-3 {
  font-weight: 500;
}

.section-3 {
  height: auto;
  padding-top: 0px;
  padding-right: 0%;
  padding-left: 0%;
}

.div-block-10 {
  width: 33.33%;
  height: 100%;
  margin-right: 10px;
  background-image: url('../images/bathroom-renovations-3.jpg');
  background-position: 100% 50%;
  background-size: cover;
}

.div-block-10._2 {
  background-image: none;
}

.div-block-10._3 {
  margin-right: 0px;
  background-image: url('../images/bathroom-renovations-4.jpg');
  background-position: 50% 50%;
}

.div-block-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 500px;
  padding-right: 0%;
  padding-left: 0%;
}

.div-block-12 {
  height: 50%;
  margin-bottom: 0px;
  background-image: url('../images/bathroom-renovations-5.jpg');
  background-position: 40% 20%;
  background-size: auto;
}

.div-block-12._2 {
  margin-top: 10px;
  background-image: url('../images/bathroom-renovations-8.jpg');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.section-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-top: 60px;
  padding: 140px 10%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(99, 100, 99, 0.08);
}

.div-block-13 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.div-block-14 {
  width: 50%;
  height: 100%;
}

.why-choose-us-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  margin-bottom: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-15 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-3 {
  width: 60px;
}

.heading-4 {
  color: #1b1b1b;
  font-size: 20px;
  font-weight: 500;
}

.text-block-5 {
  color: #1b1b1b;
  font-size: 16px;
}

.div-block-16 {
  width: 80%;
  padding-right: 40px;
}

.div-block-17 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.div-block-18 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section-5 {
  height: auto;
  padding: 100px 10% 140px;
}

.section-5._2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.image-4 {
  width: 500px;
  box-shadow: 0 0 14px -4px rgba(0, 0, 0, 0.49);
}

.div-block-19 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: auto;
  padding-right: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-20 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: auto;
  padding-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.div-block-21 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1290px;
}

.heading-5 {
  margin-top: 0px;
  font-family: 'Playfair Display', sans-serif;
  color: #1b1b1b;
  font-size: 38px;
  line-height: 44px;
  font-weight: 500;
}

.paragraph-2 {
  color: #7a7a7a;
  font-size: 16px;
  line-height: 25px;
}

.section-6 {
  height: auto;
  padding: 100px 10%;
  background-color: #1b1b1b;
}

.div-block-22 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 33.33%;
  height: 300px;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-6 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 2px;
}

.heading-6 {
  margin-top: 20px;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}

.paragraph-3 {
  margin-top: 20px;
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
}

.div-block-23 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.section-7 {
  height: 500px;
  padding-right: 10%;
  padding-left: 10%;
}

.testimonials-wrapper-t6 {
  width: 100%;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
}

.testimonials-wrapper {
  width: 90%;
  max-width: 1400px;
  margin: 0px auto;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
}

.slide-nav-t6 {
  display: none;
  margin-bottom: 28px;
}

.left-arrow-t6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.company-name-t6 {
  margin-top: 11px;
  font-size: 15px;
  font-style: italic;
  text-align: center;
}

.user-name-t6 {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.user-picture-wrapper-t6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.right-arrow-t6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.user-picture-subwrapper-t6 {
  border-radius: 100px;
  box-shadow: 1px 1px 10px 0 #cfcfcf;
}

.arrow-wrapper-t6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #f1f1f1;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 1px 1px 1px 0 #dfdfdf;
  -webkit-transition: box-shadow 200ms ease, -webkit-transform 200ms ease;
  transition: box-shadow 200ms ease, -webkit-transform 200ms ease;
  transition: box-shadow 200ms ease, transform 200ms ease;
  transition: box-shadow 200ms ease, transform 200ms ease, -webkit-transform 200ms ease;
}

.arrow-wrapper-t6:hover {
  box-shadow: 1px 1px 2px 0 #ddd;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.user-picture-t6 {
  padding: 3px;
  border-radius: 100px;
}

.quote-t6 {
  max-width: 700px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  text-align: center;
}

.slider-t6 {
  background-color: transparent;
}

.testimonials-t6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-24 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 10% 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.section-8 {
  height: 600px;
  padding-right: 0%;
  padding-left: 0%;
}

.div-block-25 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 40px 140px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(27, 27, 27, 0.5)), to(rgba(27, 27, 27, 0.28))), url('../images/bottom-contact-image.jpg');
  background-image: linear-gradient(180deg, rgba(27, 27, 27, 0.5), rgba(27, 27, 27, 0.28)), url('../images/bottom-contact-image.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.heading-7 {
  width: 450px;
  font-family: 'Playfair Display', sans-serif;
  color: #fff;
  font-size: 50px;
  line-height: 50px;
  font-weight: 500;
  text-align: center;
}

.footer {
  height: 500px;
  padding-right: 5%;
  padding-left: 5%;
}

.div-block-26 {
  height: auto;
  padding: 60px 5% 40px;
}

.div-block-27 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.company-blurb-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  height: 100%;
  padding-right: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.image-5 {
  width: 250px;
}

.paragraph-4 {
  width: 420px;
  margin-top: 20px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}

.sitempa-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.sitemap {
  width: 60%;
  height: 100%;
  padding-top: 40px;
}

.heading-8 {
  margin-top: 0px;
  margin-bottom: 40px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

.div-block-28 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.link {
  color: #1b1b1b;
  font-size: 18px;
  text-decoration: none;
}

.link-2 {
  color: #1b1b1b;
  font-size: 18px;
  text-decoration: none;
}

.html-embed {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-29 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.section-9 {
  padding: 140px 10%;
}

.project-item {
  width: 33%;
  height: 200px;
}

.html-embed-2 {
  width: 35px;
  color: transparent;
}

.image-6 {
  min-height: auto;
  min-width: 450px;
  box-shadow: 0 0 14px -4px rgba(0, 0, 0, 0.5);
}

.image-7 {
  box-shadow: 0 0 14px -4px rgba(0, 0, 0, 0.47);
}

.div-block-31 {
  height: auto;
  margin-top: 20px;
  padding: 40px 5%;
  border-top: 1px solid rgba(0, 0, 0, 0.23);
}

.link-3 {
  color: #1b1b1b;
}

.text-block-7 {
  color: #1b1b1b;
}

.html-embed-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #27d2cf;
}

.div-block-32 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 5px;
}

.link-block-2 {
  margin-right: 5px;
}

.section-10 {
  height: auto;
  padding-right: 5%;
  padding-bottom: 60px;
  padding-left: 5%;
}

.div-block-33 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.link-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  height: 350px;
  min-height: auto;
  min-width: 200px;
  margin-right: 10px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(26%, rgba(27, 27, 27, 0)), to(rgba(27, 27, 27, 0.64))), url('../images/wall-tiling.jpg');
  background-image: linear-gradient(180deg, rgba(27, 27, 27, 0) 26%, rgba(27, 27, 27, 0.64)), url('../images/wall-tiling.jpg');
  background-position: 0px 0px, 100% 50%;
  background-size: auto, cover;
  color: #fff;
  text-decoration: none;
}

.link-block-3._4 {
  display: none;
  margin-right: 0px;
}

.link-block-3._1 {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(31%, rgba(27, 27, 27, 0)), to(rgba(27, 27, 27, 0.64))), url('../images/bathroom.jpg');
  background-image: linear-gradient(180deg, rgba(27, 27, 27, 0) 31%, rgba(27, 27, 27, 0.64)), url('../images/bathroom.jpg');
  background-position: 0px 0px, 50% 50%;
}

.link-block-3._2 {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(26%, rgba(27, 27, 27, 0)), to(rgba(27, 27, 27, 0.64))), url('../images/bathroom-renovations-6.jpg');
  background-image: linear-gradient(180deg, rgba(27, 27, 27, 0) 26%, rgba(27, 27, 27, 0.64)), url('../images/bathroom-renovations-6.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.link-block-3._3 {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(25%, rgba(27, 27, 27, 0)), to(rgba(27, 27, 27, 0.64))), url('../images/precise-3.jpg');
  background-image: linear-gradient(180deg, rgba(27, 27, 27, 0) 25%, rgba(27, 27, 27, 0.64)), url('../images/precise-3.jpg');
  background-position: 0px 0px, 50% 50%;
}

.heading-9 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.div-block-34 {
  width: 2px;
  height: 30px;
  margin-bottom: 5px;
  background-color: hsla(0, 0%, 100%, 0.76);
  color: #fff;
}

.nav-link {
  padding-top: 20px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.nav-link.w--current {
  color: #028e92;
}

.grid {
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.link-4 {
  margin-right: 20px;
  color: #000;
  font-weight: 600;
  text-decoration: none;
}

.div-block-35 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.div-block-36 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #4e4e4e;
}

.div-block-37 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.div-block-38 {
  width: 500px;
}

.div-block-40 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1280px;
}

.button-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  margin-top: 20px;
  margin-right: 20px;
  padding: 20px 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 2px solid #232b78;
  background-color: #232b78;
  font-size: 20px;
  font-weight: 500;
}

.button-2:hover {
  background-color: #141947;
}

.button-2.no-20-margin {
  margin-right: 0px;
  border-color: #028e92;
  background-color: #028e92;
}

.why-choose-us-item-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 180px;
  margin-bottom: 20px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.text-block-8 {
  color: #1b1b1b;
  font-size: 16px;
}

.section-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-top: 60px;
  padding: 140px 10%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f6f6f6;
}

.section-11.service-page.grey {
  margin-top: 0px;
  padding-top: 0px;
  background-color: rgba(255, 255, 255, 0.05);
}

.section-11.about-page {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f1f1f1;
}

.heading-10 {
  color: #1b1b1b;
  font-size: 20px;
  font-weight: 500;
}

.div-block-41 {
  width: 80%;
  padding-right: 40px;
}

.div-block-42 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: auto;
  margin-top: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-43 {
  width: 60%;
  height: 1px;
  margin-bottom: 10px;
  background-color: rgba(27, 27, 27, 0.37);
}

.section-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 10%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.div-block-72 {
  width: 70%;
}

.image-10 {
  margin-top: 10px;
}

.text-block-13 {
  margin-bottom: 15px;
  color: #1b1b1b;
  font-size: 20px;
  font-weight: 500;
}

.heading-18 {
  font-family: 'Playfair Display', sans-serif;
  color: #1b1b1b;
  font-size: 28px;
  font-weight: 600;
}

.div-block-71 {
  overflow: hidden;
  width: 240px;
  height: 240px;
  margin-right: 100px;
  border-radius: 999px;
  background-image: url('../images/roulstone-renovations.jpg');
  background-position: 50% 100%;
  background-size: auto;
}

.div-block-70 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 300px;
  max-width: 1280px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph-6 {
  color: #1b1b1b;
  font-size: 16px;
  line-height: 22px;
}

.div-block-73 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.div-block-74 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  margin-right: 50px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  border-bottom: 1px none hsla(0, 0%, 100%, 0.5);
  border-left: 1px none hsla(0, 0%, 100%, 0.5);
  color: #fff;
  text-decoration: none;
}

.link-block-4 {
  width: 25%;
  height: 350px;
  max-width: 350px;
  margin-right: 40px;
  padding: 29px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/charlesdeluvio-c2thq3SXJiA-unsplash.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/charlesdeluvio-c2thq3SXJiA-unsplash.jpg');
  background-position: 0px 0px, 0% 50%;
  background-size: auto, cover;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  text-decoration: none;
}

.link-block-4:hover {
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
}

.link-block-4.extensions {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/brisbane-renovations-extensions.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/brisbane-renovations-extensions.jpg');
  background-position: 0px 0px, 100% 0%;
  background-size: auto, cover;
}

.link-block-4.new-build {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/carpenter.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/carpenter.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.div-block-75 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.div-block-76 {
  height: 50%;
  margin-left: 50px;
  border-top: 1px solid hsla(0, 0%, 100%, 0.5);
  border-right: 1px solid hsla(0, 0%, 100%, 0.5);
}

.heading-19 {
  margin-bottom: 0px;
  margin-left: 20px;
  font-family: 'Playfair Display', sans-serif;
  font-size: 25px;
  line-height: 25px;
  font-weight: 500;
}

.div-block-77 {
  margin-top: 100px;
}

.section-13 {
  height: auto;
  padding-right: 5%;
  padding-bottom: 100px;
  padding-left: 5%;
}

.div-block-78 {
  width: 2px;
  height: 50px;
  background-color: #fff;
}

@media screen and (max-width: 991px) {
  .navbar {
    padding-right: 20px;
    padding-left: 20px;
  }

  .heading {
    font-size: 55px;
    line-height: 60px;
  }

  .text-block {
    line-height: 22px;
  }

  .div-block-4 {
    padding-bottom: 40px;
    padding-left: 40px;
  }

  .heading-2 {
    margin-bottom: 0px;
  }

  .heading-2.why-choose-us {
    font-size: 26px;
    line-height: 32px;
  }

  .div-block-7 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block-7._2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .paragraph {
    margin-top: 10px;
    font-size: 14px;
    line-height: 20px;
  }

  .section-3 {
    height: auto;
  }

  .section-4 {
    margin-top: 60px;
    padding: 100px 5%;
  }

  .div-block-13 {
    margin-top: 20px;
  }

  .why-choose-us-item {
    height: auto;
  }

  .heading-4 {
    font-size: 18px;
  }

  .text-block-5 {
    font-size: 14px;
  }

  .div-block-19 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .heading-5 {
    font-size: 32px;
    line-height: 40px;
  }

  .paragraph-2 {
    font-size: 14px;
  }

  .section-6 {
    padding-right: 5%;
    padding-left: 5%;
  }

  .div-block-22 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .heading-6 {
    font-size: 20px;
  }

  .paragraph-3 {
    font-size: 14px;
  }

  .testimonials-wrapper {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }

  .left-arrow-t6 {
    left: 0%;
    top: auto;
    right: auto;
    bottom: 0%;
  }

  .right-arrow-t6 {
    left: auto;
    top: auto;
    right: 0%;
    bottom: 0%;
  }

  .div-block-24 {
    padding-right: 5%;
    padding-left: 5%;
  }

  .div-block-26 {
    padding-right: 5%;
    padding-left: 5%;
  }

  .company-blurb-footer {
    width: 40%;
  }

  .paragraph-4 {
    width: auto;
  }

  .sitempa-footer {
    width: 60%;
  }

  .sitemap {
    padding-top: 20px;
  }

  .heading-8 {
    font-size: 20px;
  }

  .link {
    font-size: 14px;
  }

  .link-2 {
    font-size: 14px;
  }

  .image-6 {
    min-height: auto;
    min-width: auto;
  }

  .section-10 {
    height: auto;
    padding-bottom: 60px;
  }

  .link-block-3 {
    height: 250px;
    min-width: auto;
  }

  .link-block-3._1 {
    height: 250px;
  }

  .link-block-3._2 {
    height: 250px;
  }

  .link-block-3._3 {
    height: 250px;
  }

  .div-block-40 {
    margin-top: 20px;
  }

  .why-choose-us-item-2 {
    height: 200px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .text-block-8 {
    font-size: 14px;
  }

  .section-11 {
    margin-top: 0px;
    padding: 100px 5%;
  }

  .heading-10 {
    margin-top: 0px;
    font-size: 18px;
  }

  .div-block-41 {
    width: 90%;
  }

  .div-block-72 {
    width: 70%;
    padding-left: 40px;
  }

  .div-block-71 {
    margin-right: 0px;
  }

  .div-block-70 {
    height: auto;
  }

  .paragraph-6 {
    position: static;
    overflow: visible;
    width: 100%;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .link-block-4 {
    width: 30%;
    height: 350px;
  }

  .link-block-4.new-build {
    margin-right: 0px;
  }

  .section-13 {
    height: auto;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .section {
    padding-right: 20px;
    padding-left: 20px;
  }

  .heading {
    font-size: 45px;
    line-height: 45px;
  }

  .text-block {
    font-size: 16px;
    line-height: 20px;
  }

  .button {
    width: 200px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 18px;
    text-align: center;
  }

  .button._2 {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .section-2 {
    padding-top: 60px;
    padding-right: 60px;
    padding-left: 60px;
  }

  .heading-2.why-choose-us {
    width: auto;
  }

  .div-block-5 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block-5._2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .div-block-6 {
    width: 100%;
  }

  .div-block-6._2 {
    padding-left: 0px;
  }

  .div-block-7 {
    width: 100%;
    padding-right: 0px;
  }

  .div-block-7._2 {
    width: 100%;
    padding-left: 0px;
  }

  .section-3 {
    display: none;
  }

  .div-block-11 {
    height: 350px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .section-4 {
    margin-top: 0px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .div-block-13 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .div-block-14 {
    width: 100%;
  }

  .section-5 {
    padding: 60px;
  }

  .div-block-19 {
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block-20 {
    width: 100%;
    padding-left: 0px;
  }

  .div-block-21 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .div-block-22 {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
  }

  .div-block-23 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .testimonials-wrapper {
    margin-right: auto;
    margin-left: auto;
  }

  .slider-t6 {
    height: auto;
  }

  .testimonials-t6 {
    padding: 40px 10px;
  }

  .div-block-24 {
    padding-top: 60px;
  }

  .div-block-27 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .company-blurb-footer {
    width: 100%;
  }

  .sitempa-footer {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .image-6 {
    min-height: auto;
    min-width: auto;
  }

  .section-10 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    padding-bottom: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .div-block-33 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .link-block-3 {
    width: 100%;
  }

  .link-block-3._1 {
    width: 100%;
    margin-bottom: 10px;
  }

  .link-block-3._2 {
    width: 100%;
    margin-bottom: 10px;
  }

  .link-block-3._3 {
    width: 100%;
    margin-bottom: 10px;
  }

  .div-block-36 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .div-block-38 {
    width: auto;
  }

  .div-block-40 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .button-2 {
    width: 200px;
    font-size: 18px;
  }

  .why-choose-us-item-2 {
    height: auto;
  }

  .section-11 {
    margin-top: 0px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .div-block-42 {
    width: 60px;
  }

  .div-block-72 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .text-block-13 {
    text-align: center;
  }

  .heading-18 {
    text-align: center;
  }

  .div-block-70 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .paragraph-6 {
    text-align: center;
  }

  .section-13 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    padding-bottom: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (max-width: 479px) {
  .navbar {
    width: 100%;
    padding: 0px 0%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .section {
    height: auto;
    padding-right: 0px;
    padding-left: 0px;
  }

  .section.home {
    background-image: -webkit-gradient(linear, left top, left bottom, from(null), to(null)), url('../images/Bathroom-Renovations-Brisbane.jpg');
    background-image: linear-gradient(180deg, null, null), url('../images/Bathroom-Renovations-Brisbane.jpg');
    background-position: 0px 0px, 50% 50%;
  }

  .heading {
    font-size: 35px;
    line-height: 40px;
    font-weight: 400;
    text-align: center;
  }

  .text-block {
    width: auto;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
  }

  .button {
    width: 150px;
    margin-top: 0px;
    margin-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    text-align: center;
  }

  .button._2 {
    margin-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .button.black-2 {
    margin-top: 10px;
  }

  .button.top-banner {
    display: none;
  }

  .div-block-2 {
    width: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom-style: none;
  }

  .div-block-3 {
    display: none;
  }

  .image {
    width: 110px;
    height: auto;
    margin-right: 27px;
    margin-bottom: 0px;
  }

  .div-block-4 {
    height: auto;
    padding: 60px 0px 140px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: none;
  }

  .div-block-4.home {
    margin-top: 20px;
  }

  .div-block-4.pages {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .section-2 {
    padding-right: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
  }

  .heading-2 {
    font-size: 28px;
  }

  .heading-2.why-choose-us {
    margin-bottom: 40px;
  }

  .div-block-6 {
    padding-right: 0px;
  }

  .div-block-7._2 {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .paragraph {
    line-height: 22px;
  }

  .section-3 {
    height: auto;
  }

  .div-block-11 {
    display: none;
    height: 250px;
  }

  .section-4 {
    margin-top: 0px;
    padding-top: 60px;
  }

  .why-choose-us-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .heading-4 {
    text-align: center;
  }

  .text-block-5 {
    text-align: center;
  }

  .div-block-16 {
    padding-right: 0px;
  }

  .div-block-17 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .div-block-18 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .section-5 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .image-4 {
    width: 100%;
  }

  .heading-5 {
    font-size: 28px;
    line-height: 36px;
  }

  .paragraph-2 {
    line-height: 22px;
  }

  .section-6 {
    padding-bottom: 60px;
  }

  .testimonials-wrapper {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 0px;
  }

  .slider-t6 {
    padding-bottom: 60px;
  }

  .testimonials-t6 {
    width: 100%;
    padding-top: 20px;
  }

  .div-block-25 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .heading-7 {
    width: auto;
    font-size: 38px;
  }

  .company-blurb-footer {
    padding-right: 0px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .paragraph-4 {
    text-align: left;
  }

  .sitempa-footer {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .sitemap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .sitemap._2 {
    display: none;
  }

  .heading-8 {
    text-align: center;
  }

  .div-block-28 {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .html-embed {
    height: 15px;
  }

  .div-block-29 {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .menu-button {
    position: relative;
    margin-left: 148px;
  }

  .image-6 {
    width: 100%;
    min-height: auto;
    min-width: auto;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .image-7 {
    width: 100%;
  }

  .div-block-30 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .brand {
    position: relative;
  }

  .section-10 {
    height: auto;
    padding-bottom: 60px;
  }

  .div-block-33 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .link-block-3 {
    width: auto;
    height: 350px;
    margin-right: 0px;
  }

  .link-block-3._1 {
    width: 100%;
    height: 350px;
    margin-bottom: 10px;
  }

  .link-block-3._2 {
    width: auto;
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .link-block-3._3 {
    height: 350px;
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .div-block-35 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .div-block-36 {
    margin-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .div-block-38 {
    width: auto;
  }

  .div-block-39 {
    display: none;
  }

  .icon {
    color: #fff;
  }

  .button-2 {
    width: 150px;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-width: 1px;
    font-size: 16px;
  }

  .button-2.no-20-margin {
    background-color: #028e92;
  }

  .why-choose-us-item-2 {
    margin-bottom: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .text-block-8 {
    font-size: 15px;
    text-align: center;
  }

  .section-11 {
    margin-top: 0px;
    padding-top: 60px;
  }

  .heading-10 {
    text-align: center;
  }

  .div-block-41 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block-72 {
    width: auto;
  }

  .link-block-4 {
    width: 100%;
    max-width: none;
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .div-block-75 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .div-block-77 {
    margin-top: 20px;
  }

  .section-13 {
    height: auto;
    padding-bottom: 60px;
  }
}

#w-node-ec9e879e-396b-ab55-a9f3-b772d17fc6cb-759c45ab {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_7fc6be45-f51c-5b84-8d96-2dbbaae931c3-759c45ab {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

